<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Gestionlogin2</display-name>
    <servlet-name>Gestionlogin2</servlet-name>
    <servlet-class>controlador.Gestionlogin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestionlogin2</servlet-name>
    <url-pattern>/Gestionlogin2</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoFinCurso</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionEmpleado</display-name>
    <servlet-name>GestionEmpleado</servlet-name>
    <servlet-class>controlador.GestionEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEmpleado</servlet-name>
    <url-pattern>/GestionEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuario</display-name>
    <servlet-name>GestionUsuario</servlet-name>
    <servlet-class>controlador.GestionUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuario</servlet-name>
    <url-pattern>/GestionUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionFichaje</display-name>
    <servlet-name>GestionFichaje</servlet-name>
    <servlet-class>controlador.GestionFichaje</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionFichaje</servlet-name>
    <url-pattern>/GestionFichaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionFichaEmpleado</display-name>
    <servlet-name>GestionFichaEmpleado</servlet-name>
    <servlet-class>controlador.GestionFichaEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionFichaEmpleado</servlet-name>
    <url-pattern>/GestionFichaEmpleado</url-pattern>
  </servlet-mapping>
</web-app>